*.o
trash
test/*.o
test/*.asm
test/test_big
test/test_lt
test/test_gt
test/test_ge
test/test_le
test/test_eq
test/test_neq
test/test_while
test/test_if
test/test_until
test/test_repeat
test/test_do
test/test_for
test/test_break
test/test_print
