test/*.o
test/*.asm
test/test_big
test/test_lt
test/test_gt
test/test_ge
test/test_le
test/test_eq
test/test_neq
test/test_while
test/test_if
test/test_until
test/test_repeat
test/test_do
test/test_for
test/test_break
test/test_print

*.o
test.asm
elfwriter
lea
min
min.bin
min_elf
mov
show_elf_magic
test.bin
test_elf.bin
test_elf
min2
